// ===============
// don't actually use these, for test purposes only
@mixin hotpink {
  border: 2px solid hotpink;
}
.hotpink {
  @include hotpink;
}

// ==============
// ok you can use these
// ==============

// ================
// mixins
// ================

@mixin code {
  font-family: "Inconsolata Nerd Font", "SF Mono", "Segoe UI Mono",
    "Roboto Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
}

@mixin lilshadow {
  box-shadow: 1px 1px 2px #000000;
}

@mixin transition {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

// ================
// variables
// ================

$primary-color: #28388a;

.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  font-size: 1rem;

  code {
    @include code;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

header.header {
  box-shadow: 1px 1px 5px #000000;

  section.headerBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .headerTitle {
    font-size: 1.2rem;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .breadcrumb {
      font-size: 0.7rem;
      color: hotpink;
    }

    .breadcrumb::after {
      content: ">>";
      margin: 0 6px;
      color: green;
    }
    .breadcrumb:last-child::after {
      content: "";
    }
  }
}

.linksBody {
  width: 100%;
  margin-top: 24px;
  border: 1px solid darken(#f5f5f5, 20%);
  border-radius: 6px;
  padding: 6px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  .links {
    display: flex;
    margin: 0 6px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .separator {
    margin: 0 6px;
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .link {
    text-decoration: none;
    color: hotpink;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .linkButton {
    background-color: transparent;
    cursor: pointer;
    color: hotpink;
    font-size: 0.8rem;
    line-height: 1.2rem;
    border: none;
    padding: 0;
  }
}

.code {
  @include code;
}

.block {
  width: 100%;
  font-size: 0.8rem;
  border: 1px solid darken(#f5f5f5, 20%);
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 12px 24px;
}

.codeblock {
  width: 100%;
  display: flex;
  flex-direction: column;

  div {
    @include code;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
  }
}

main.page {
  margin-top: 66px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readableWidth {
  max-width: 55rem;
}

.viewableWidth {
  max-width: 70rem;
}

.maxWidth {
  max-width: 100rem;
}

.pageBody {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #000000;
}

// ================
// solution
// ================
.solutionDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;

  ul {
    li {
      font-size: 0.8rem;
      font-style: italic;
      color: lightgrey;
      &:not(:last-child) {
        &::after {
          content: "";
          margin: 0 16px;
        }
      }
    }
  }
}

@mixin solutionPopoverStyles {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  @include lilshadow;
}

.solutionSolvedPopover {
  @include solutionPopoverStyles;
}

section.solutionInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutionInputForm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .editorContainer {
    width: 100%;
    .wrapper {
      width: 100%;
    }
  }

  .formActions {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }
}

.solutionDataPopover {
  @include solutionPopoverStyles;
}

// ================
// UI
// ================

.transition {
  @include transition;
}

button.actionButton {
  @include lilshadow;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 4px 16px;
  border: 1px solid #242424;
  border-radius: 6px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: rgb(17, 24, 59);
    color: #f5f5f5;
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input ~ span {
    background-color: #ccc;
  }

  &:hover input ~ span {
    background-color: darken(#ccc, 10%);
  }

  input:checked ~ span {
    background-color: $primary-color;
  }

  &:hover input:checked ~ span {
    background-color: darken($primary-color, 10%);
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: all 0.2s ease-in-out;
  }

  span::after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ span::after {
    display: block;
  }

  & span::after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 20%;
    transform: rotate(0) scale(0.2);
    transition: all 0.2s ease-in-out;
  }

  input:checked ~ span::after {
    transform: rotate(45deg) scale(1);
  }

  label {
    font-size: 0.8rem;
  }
}
